<ion-header [translucent]="true">
  <app-componente1 titulo="Página de inicio 2024"[datos]="datosP"></app-componente1> <!--Debo modificar archivo modules para que lo detecte-->
</ion-header>
<ion-content [fullscreen]="true">
    <!--ejemplo if-->
  <p *ngIf="edad < 35"> {{comuna}} </p>
  <!--fin ejemplo if-->

  <!--ejemplo for-->
  <ion-item *ngFor="let dato of arregloPersona ">
  <ion-label ><b>Nombre: </b>{{ dato.nombre | uppercase }} </ion-label>
  <ion-label ><b>Apellido: </b>{{ dato.apellido |lowercase }} </ion-label>
  <ion-label ><b>Edad: </b>{{ dato.edad}} </ion-label>
  </ion-item>
  <!-- fin ejemplo for-->

  <mat-spinner></mat-spinner> <!--Spinner de carga animación-->


  <ion-item >
    <ion-input label="Nombre Persona" labelPlacement="floating" placeholder="Ingrese su nombre" [(ngModel)]="nombre" > </ion-input>
  </ion-item>

  <ion-button color="success" [routerLink]="['/home']">Ir al Home</ion-button>
  <ion-button color="warning" (click)="irPagina()">Ir a Agregar {{ nombre }}</ion-button>
  <p>{{ datosP.dato }}</p>




</ion-content>





<!--ngmodel guarda datos en una variable
*ngIf "nombre == "juan "  para comparar 




-->
